project-card {
    background-image: url("https://img.freepik.com/free-photo/graphic-2d-colorful-wallpaper-with-grainy-gradients_23-2151001611.jpg?t=st=1714026128~exp=1714029728~hmac=89695807dfc1e3402079a7a1f07d7507b42cbd0df974d6b12f28f72f424de4d1&w=360");
    height: 100vh;
    background-size: cover;
}